{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Password Reset Email Sent</h1>

                        <div class="alert alert-info mb-3">
                            <p>
                                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                            </p>
                        </div>

                        <div class="text-center">
                            <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
                            <p><a href="{{ path('app_login') }}" class="btn btn-secondary mt-2">Back to login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
