<div class="row mb-4">
    <div class="col">
        <h1 class="display-5 fw-bold">{{ title ?? 'saint.title'|trans({}, 'saint') }}</h1>
        <p class="text-muted">{{ 'saint.description'|trans({}, 'saint') }}</p>
    </div>
    <div class="col-auto d-flex align-items-center">
        {% if app.request.get('_route') == 'app_saint_index' %}
        <button type="button" class="btn btn-outline-secondary me-2" data-action="filter-toggle#toggle">
            <svg class="bi" width="16" height="16" data-filter-toggle-target="icon">
                <use href="#eye"></use>
            </svg>
            Filter
        </button>
        {% endif %}
        <a href="{{ path('app_saint_new') }}" class="btn btn-primary">
            <svg class="bi me-2" width="16" height="16">
                <use href="#plus-circle"></use>
            </svg>
            {{ 'saint.add_new'|trans({}, 'saint') }}
        </a>
    </div>
</div>
