{% extends 'base.html.twig' %}

{% block title %}Edit Saint{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Edit Saint</h1>

            {{ include('saint/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="d-flex justify-content-end">
                {{ include('saint/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
