{% extends 'base.html.twig' %}

{% block title %}{{ 'relic.edit_title'|trans({}, 'relic') }}{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('relic/_header.html.twig', {'title': 'relic.edit_title'|trans({}, 'relic')}) }}
    <div class="row">
        <div class="col-12">
            {{ include('relic/_form.html.twig', {'button_label': 'relic.form.submit'|trans({}, 'relic')}) }}

            <div class="d-flex justify-content-end">
                {{ include('relic/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
