{% extends 'base.html.twig' %}

{% block title %}New Relic{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('relic/_header.html.twig', {'title': 'Create New Relic'}) }}
    <div class="row">
        <div class="col-12">
            {{ include('relic/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
