<div class="d-flex flex-column w-100">
    <div class="btn-group w-100" role="group" aria-label="Language selection">
        <a href="{{ path('app_change_locale', {'locale': 'en'}) }}" class="btn btn-sm {% if app.request.locale == 'en' %}btn-primary{% else %}btn-outline-secondary{% endif %} flex-grow-1">
            {{ 'common.languages.english'|trans({}, 'common') }}
        </a>
        <a href="{{ path('app_change_locale', {'locale': 'pt_BR'}) }}" class="btn btn-sm {% if app.request.locale == 'pt_BR' %}btn-primary{% else %}btn-outline-secondary{% endif %} flex-grow-1">
            {{ 'common.languages.portuguese_brazil'|trans({}, 'common') }}
        </a>
    </div>
</div>
